<div class="menu-container">
  <div class="card-header col-md-12">
    <h2>
      All Blogs
    </h2>
    {{#each blogs as |blog|}}
    <div class = 'blogstory'>
      <h3>{{blog.user.username}} </h3> 
      <h5>posted</h5>
      <p>{{blog.blogcontent}}</p>
    </div>
    {{/each}}
    <p>Login now to add a blog!</p>
  </div>
  