<div class="signupform">
    <form >
        <label for="email">Email:</label>
        <input type="text" id="email-signup">

        <label for="username">Username:</label>
        <input type="text" id="name-signup">

        <label for="password">Password:</label>
        <input type="text" id="password-signup">

        <button type="submit" id = "signup">Submit</button>
    </form>
</div>

<script src="./signup.js"></script>